a{
  background: #f9f9f9;
  color: #ff4c4c;
  font-size: 12px;
  border: 1px solid #ff4c4c;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
}

a:hover{
  background: #ff4c4c;
  color: f9f9f9;
  transition: 1s;
}

img.image-size{
  width: 120px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 30px;
}

body{
  background-image: url("../image/book-bgi.jpeg");
  background-size: cover;
}
